@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|dvt-chartLegend {
    
}

af|dvt-chartLegend::text{
    
    font-size:18px
}

af|button {
    background-color: #666666;
    border-radius:5px;
}

af|button::text{
    margin-top:7px;
    
}

.xf1{
    background-image:none;
    text-shadow:none;
}

.tableNoColumnHeaders af|column::column-header-cell {
    display: none;
    border-left-color:transparent; 
    border-right-color:transparent;
    border-top-color:transparent; 
    border-bottom-color:transparent;
}

/*.AFTableCellHeaderBackground:alias .pietable {
    height: 30px;
    background-color:white;
}

.AFTableCellData:alias{
    height: 15px;
    
}

.AFTableCellData:alias.celldata {
    height: 20px;
    background-color:white; 
}*/

.colText{
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-align: center;
}

.coloumnBorder{
    border-left-color:transparent; 
    border-right-color:transparent;
    background-color:#F2F2F2;
    height:10px;
}

.pieColumntext{
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #333333;
    text-align: left;
    line-height: normal;
}

.pieCurrencyColtext{
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #333333;
    text-align: left;
    line-height: normal;
}


.tabledataclass {
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: normal;
}



.tablefooterclasslast{
    background-color: white;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    text-align: right;
    color: #333333;
    line-height: normal;
     
}

.tableBorderclass{
    border-left-color:black; 
    border-right-color:black;
    border-top-color:black; 
    border-bottom-color:black;    
}

.sumTableHeader{
    height:30px;
    background-color:#E4E4E4;
    border-color:black;    
}

.sumColContent{
    height:50px;
    border-color:#949494; 
    font-size:14px;
}

.sumColContentLast{
    height:50px;
    font-size:14px;
}

.sumTableCont{
    width:900px; 
    overflow-y: hidden;
}

af|link.AFMyCommandImageSize::image{
    width: 16px;
    height: 21px; 
    margin:5px;
    
}

.x156 tbody tr td {
    display:block ;
    margin-top:-3px;
}

.xi9 {
    border: Black 1px solid;
}

/*af|navigationPane-bar::link:selected {
    font-size: 24px; 
    border-bottom: 5px solid #666666; 
    color:black;
}*/

af|navigationPane-bar::link:selected {
    font-size: 24px; 
    border-bottom: 5px solid #666666; 
    color:black;
}

af|navigationPane-bar::link{
    font-size: 24px; 
    color:black;
    border-bottom: 2px solid #666666; 
}

af|column.cellBorder::data-cell{
    border:black solid 1px;
}

.whiteBg{
    background-color: white;
}

.pgl4{
     height:293px; 
     width:910px; 
     background-color:#F2F2F2;
}

.gc6{
    padding:5px;
}

.ot3{
    font-size: 24px;font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';     font-weight: 700;     font-style: normal;     color: #333333;     text-align: left;     line-height: normal;
}

.gc7{
    padding:5px;
    }
    
.gc8{
    padding-top:10px;
}

.t1{
    height:186px; background-color:white;width:890px;
}

.c1{
    height:20px;text-align:right;
}

.gc9{
    padding:5px;
}

.ot4{
    font-family: 'Arial-ItalicMT', 'Arial Italic', 'Arial';     font-weight: 400;     font-style: italic;     font-size: 14px;     color: #666666;
}

.b2{
    width:247px;height:45px;font-size:18px; color:#FFFFFF; font-family:'ArialMT', 'Arial'; font-weight:400; font-style:normal; text-align:center; line-height:normal; background-color:#666666; background-repeat:no-repeat;border-radius:10px;
}

.pgl1{
    width:900px ;background-color:white;
}
.pgl11{
    background-color:white;padding-top:25px;margin-top:10px;
}

.ot14{
    font-size: 24px;font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';     font-weight: 700;     font-style: normal;     color: #333333;     text-align: left;     line-height: normal;
    }
.pgl5{
    background-color:white;margin-top:20px;margin-bottom:20px;
}
.pgl2{
    width:900px;
}

/* Css for Table in Start tab*/

.t1_summarybalance{
    background-color:white;
    width:639px;
    border-color:black;
    height:200px;
}

.t1_column{
    text-align:right;
    
}

.t1_columnFirst{
    border-top-color:black;
} 

.t1_sumTableHeader{
    background-color:#E4E4E4;
    border-color:black;
    height:25px;
    text-align:center;
}

.t1_sumTableHeaderlLeft{
    background-color:#E4E4E4;
    border-color:black;
    height:25px;
    text-align:left;
}
.t1_sumTableHeaderLast{
    background-color:#E4E4E4;
    border-top-color:black;
    border-bottom-color:black;
    height:25px;
    text-align:left;
}

.t1_sumTableFooter{
    background-color: white;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    color: #333333;
    border-left-color:black;
    border-right-color:black;
    height:25px;
    border-top-color:black;
}

.t1_sumTableFooterLast{
    background-color: white;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    color: #333333;
    height:25px;
    border-top-color:black;
}

.t1_sumTableFooterFirst{
    background-color: white;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    color: #333333;
    border-right-color:black;
    border-top-color:black;
    height:25px;
}

/* Pie chart css */
.pgl_piechart{
    width:659px;
    margin-left:5px;
    margin-right:5px
}

.t2_pietable{
    border-left-color:transparent;
    border-right-color:transparent;
    border-top-color:transparent;
    border-bottom-color:transparent;
    width:220px;
    margin-top:20px;
    height:100px;
    background-color:#F2F2F2;
}

af|link.pieicon::image {
    height: 30px; 
    width: 34px; 
}

af|link.tableicon::image {
    height: 30px; 
    width: 35px; 
}


/*Css for account status tab*/

.t1_sumtable{
    height:186px; 
    background-color:white;
    width:900px;
    border-color:black
}

.viewall{
    font-family: 'ArialMT', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #333333;
    text-align: center;
    line-height: normal;
}

.t2_documentdetails{
    width:900px; 
    background-color:white;
    border-color:black;
}

.x15i tbody tr td {
display:block ;
margin-top:-3px;
}

af|navigationPane-bar::separator-icon {
}

af|navigationPane-bar::separator-icon-style {
    background-color: white; 
    height: 0px; 
}

af|column::sort-ascending-icon-style{
  visibility:visible;
}

af|column::sort-descending-icon-style {
  visibility:visible;
}

af|inputText::content {
    height: 35px; 
    width: 180px; 
    border-radius: 5px;
    border-left: 1px; 
    border-left-color: #999999; 
    border-left-style: solid; 
    border-right: 1px; 
    border-right-color: #999999; 
    border-right-style: solid; 
    border-top: 1px; 
    border-top-color: #999999; 
    border-top-style: solid; 
    border-bottom: 1px; 
    border-bottom-color: #999999; 
    border-bottom-style: solid; 
}

af|panelGridLayout.loginpgl{
    color: #666666;
    font-family: Arial;
}